{% extends "main.html" %}
{% block content %}
    <div class="category-item-header">
        <h4>Total items <span class="show-sm">for {{category.name}}</span> ({{items|length}})</h4>
        {% if user and category.user_id == user.id %}
            <a href="{{url_for('editCategory', category_id=category.id)}}">Edit Category</a>
            <a href="{{url_for('deleteCategory', category_id=category.id)}}">Delete Category</a>
        {% endif %}
    </div>
{% include "item-accordian.html" %}
{% endblock %}
