<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"  />
        <title>Item Catalog</title>
        <link rel="stylesheet" href="{{url_for('static', filename='bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='bootstrap-theme.min.css')}}">
    </head>
    <body>
        <nav>
            <a class="btn btn-primary" href="{{url_for('home')}}">Home</a>
            {% for category in categories %}
                <a href="{{url_for('showCategoryItems', category_id=category.id)}}">{{category.name}}</a>
            {% endfor %}
            {% if user %}
                <a href="{{url_for('newCategory')}}">Add Category</a>
                {% if category %}
                    <a href="{{url_for('newItem', category_id=category.id)}}">Add Item</a>
                {% endif %}
                <form class="user-logout" action="{{url_for('logout')}}" method="post">
                    <span>{{user.email}}</span>
                    <input type="submit" name="logout" value="Logout">
                </form>
            {% else %}
                <a href="{{url_for('register')}}">Register</a>
                <a href="{{url_for('login')}}">Login</a>
            {% endif %}
        </nav>
        <div class="container">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class="flash_messages">
                        {% for message in messages %}
                            <li>{{message}}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
            {% block content %}
            {% endblock %}
        </div>

        <script type="text/javascript" src="{{url_for('static', filename='jquery.min.js')}}"></script>
        <script type="text/javascript" src="{{url_for('static', filename='bootstrap.min.js')}}"></script>
    </body>
</html>
